ml/
/ml/
train*
preds/
test*
.conda/
.conda
.*
.conda/
conda/
venv/
catboost_info/
competitions/preds/
*.csv
*.tsv
*.tfevents*

.conda/
catboost_info/
competitions/preds/
*.tfevents*
competitions/train_3.csv
competitions/test_3.csv
*.csv
